/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --azul: #0b1838;
    --naranja: #F68121;
    --gris-claro: #f4f4f4;
}

/* GENERAL */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--gris-claro);
    color: #333;

   margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

/* Estilo del Menú */

/* NAV */
nav {
    background-color: var(--naranja);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav li {
    padding: 15px 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    transition: background 0.3s;
}

nav a:hover {
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
}

/* MAIN */
main {
    padding: 40px;
}

.productos {
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-left: 5px solid var(--naranja);
}

/* ASIDE */
aside {
    background-color: white;
    padding: 20px;
    margin: 20px 40px;
    border-left: 5px solid var(--azul);
}

/* FOOTER */
footer {
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 20px;
    }

    aside {
        margin: 20px;
    }
/* BOTONES */

.btn {
    display: inline-block;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}
    .btn-primary {
    background-color: var(--azul);
    color: white;
}

.btn-primary:hover {
    background-color: #08122b;
}
    .btn-accent {
    background-color: var(--naranja);
    color: white;
}

.btn-accent:hover {
    background-color: #d96c18;
}
}
